{% include 'parts/head.twig' %}
<div class="container py-3">
    {% include 'parts/header.twig' %}
    {% block content %}Loading Body Content here ...{% endblock %}
</div>
{% include 'parts/footer.twig' %}