{% extends 'layouts/main.twig' %}
{% set page_title = title %}

{% block content %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">{{ title }}</h1>
    </div>
    <div id="lipsum">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut accumsan sapien. In non arcu hendrerit
            diam euismod condimentum eget in augue. Nulla facilisi. Duis posuere pellentesque nisl, vel finibus orci
            convallis ac. Aliquam nec aliquet lacus. Fusce suscipit, sem vel consectetur vulputate, orci ante
            scelerisque diam, et suscipit enim sapien et metus. Curabitur porttitor ut orci rutrum egestas.
        </p>
        <p>
            Aliquam eu vehicula velit, ut ornare diam. Phasellus elementum sem ultrices libero efficitur, at vehicula
            sem egestas. Fusce auctor leo vel eros viverra, sit amet tristique metus bibendum. Integer libero quam,
            congue et lectus id, tristique fermentum nunc. Nunc eget suscipit neque. Sed sed aliquet est. Etiam
            consequat ultricies ipsum sed aliquam. Nulla lobortis est nec mauris sodales, sed molestie enim sodales.
            Donec accumsan eros ut sem lobortis, ut mattis leo viverra. Nulla facilisi. Aliquam dolor metus, porta vel
            quam sit amet, vestibulum facilisis mi. Quisque efficitur sem sed risus luctus, commodo iaculis ipsum
            varius.
        </p>
        <p>
            Proin mi purus, ornare eget sodales et, ornare sed orci. Ut nec dolor non arcu rutrum venenatis. Sed
            interdum erat leo, id tincidunt velit consequat in. In ut rutrum nulla. Ut in gravida dui, vestibulum
            sollicitudin ligula. Sed vel volutpat enim, et condimentum libero. Duis efficitur dui sit amet eros porta,
            nec finibus augue vehicula. Vestibulum auctor id nunc quis facilisis. Mauris pharetra leo in rhoncus
            blandit. Curabitur aliquet felis est, id lobortis lacus auctor nec. Duis nec congue leo. Cras pellentesque
            urna libero, egestas pellentesque mauris imperdiet id. Donec volutpat porta ultricies.
        </p>
        <p>
            Morbi tellus eros, consectetur et nisl vitae, bibendum mattis orci. Fusce a quam in est auctor finibus sit
            amet ut elit. Maecenas sed dui diam. Suspendisse tristique placerat urna, ac congue sapien rhoncus id. Donec
            condimentum mi condimentum, consequat lectus in, rhoncus enim. Mauris nibh sapien, cursus quis gravida ac,
            tempor faucibus libero. Etiam at elit aliquet, ultrices massa feugiat, ultrices arcu. Pellentesque ut nulla
            sit amet mi mollis sollicitudin vitae id mi.
        </p>
        <p>
            Phasellus dolor ipsum, viverra vitae cursus et, bibendum non augue. Pellentesque aliquam, lectus eget
            ultricies aliquam, lorem magna ullamcorper massa, sed ullamcorper felis justo eget eros. Maecenas vestibulum
            rhoncus neque ut feugiat. Vivamus non nisl malesuada, fermentum tortor a, eleifend leo. Vestibulum ante
            ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Cras nec urna lectus. Morbi placerat
            pharetra felis, id malesuada nulla vehicula ac.
        </p>
        <p>
            Quisque luctus, nisl vitae convallis mollis, tortor justo interdum orci, sit amet scelerisque felis ipsum
            sit amet augue. Integer nibh metus, fermentum varius dui at, dictum hendrerit massa. In facilisis, turpis et
            lobortis ornare, nisi turpis hendrerit mi, ac aliquam turpis orci at lacus. Nulla porttitor tortor dolor, ut
            vulputate diam finibus in. Maecenas accumsan posuere erat eu eleifend. Donec rhoncus a libero id egestas. In
            hac habitasse platea dictumst. Ut tristique neque in auctor interdum. Fusce in eros vitae justo egestas
            hendrerit.
        </p>
        <p>
            Duis venenatis sapien lacus, accumsan fringilla nibh bibendum nec. Donec ornare pulvinar ante, id efficitur
            purus dictum sit amet. Aliquam vulputate nec eros a porttitor. Proin semper congue sem, sit amet lacinia
            nisl dictum nec. Fusce quis augue hendrerit, cursus ante sit amet, condimentum metus. Cras vel porttitor
            arcu, a convallis erat. Morbi varius, sapien tempus ullamcorper sagittis, ipsum nibh vulputate nunc, vel
            efficitur mi diam non justo. Mauris id posuere sapien. Pellentesque blandit quis nisl in eleifend. Phasellus
            sed arcu a leo pretium efficitur. Vestibulum fringilla orci vitae iaculis iaculis. Aenean nec cursus turpis,
            sed semper tellus. Duis quis eros eget nisi laoreet consequat. Ut vulputate feugiat augue, sit amet
            pellentesque justo imperdiet eu. Cras congue arcu massa.
        </p>
        <p>
            Donec tristique vitae sem ut lacinia. Aenean molestie dui in justo imperdiet convallis. Sed sed libero
            tempus, laoreet metus sit amet, pretium orci. Pellentesque vitae varius lectus, non consequat diam. Proin
            sollicitudin, quam eget ultrices interdum, urna leo tincidunt ex, quis vestibulum erat tellus eu purus.
            Proin vel iaculis nulla. Nulla dictum sagittis lacus, ut vehicula elit feugiat sit amet. Ut pretium ante
            mauris, ut condimentum magna auctor ut. Duis maximus, nunc non interdum sagittis, ex turpis finibus neque,
            et pellentesque lectus nibh vel tellus. Aliquam sit amet pharetra nisi. Fusce condimentum fringilla dui, eu
            placerat quam pretium vitae. Nullam justo velit, condimentum vitae arcu at, faucibus porttitor eros.
        </p>
        <p>
            In hac habitasse platea dictumst. Aliquam erat volutpat. Nam tincidunt, odio sit amet rhoncus rhoncus, magna
            metus tincidunt massa, non scelerisque metus dui sed lectus. Curabitur nec lacinia erat. In dolor urna,
            viverra et commodo sit amet, auctor sed felis. Donec pellentesque lacus in ex laoreet finibus. Morbi
            finibus, tortor vitae laoreet luctus, mi leo placerat augue, at tincidunt sem leo accumsan quam. Suspendisse
            et malesuada massa. Nam et laoreet sapien, nec dignissim tellus. Vestibulum vel nisl vitae nisl pretium
            sagittis. Mauris risus massa, feugiat pretium diam at, fermentum fringilla elit. Donec at malesuada dolor.
            Proin tempor mollis ante at condimentum. Quisque et aliquam justo.
        </p>
        <p>
            Aliquam suscipit mattis ipsum, at posuere libero finibus quis. Etiam a placerat augue. Fusce interdum
            ultrices velit vitae aliquam. Nunc sodales purus non laoreet semper. Praesent tempor turpis ac felis
            pellentesque, ut vestibulum nisl faucibus. Maecenas ut purus eu urna lobortis maximus fringilla in mi.
            Curabitur neque metus, consequat vel tortor vel, tempor vulputate nisl. Nunc ac ipsum tellus. Maecenas
            ullamcorper diam at ex placerat, at bibendum est venenatis. Sed auctor congue interdum. Phasellus et
            tincidunt elit, accumsan vestibulum lorem. Aliquam vel magna enim. Nullam hendrerit, arcu at blandit
            lobortis, augue neque feugiat leo, congue ullamcorper est nunc non libero. Aenean et bibendum odio, varius
            hendrerit nulla. Fusce sed viverra erat, a feugiat libero.
        </p>
        <p>
            Aenean nec sodales ipsum, eu maximus mauris. Donec scelerisque sapien aliquam facilisis sollicitudin. Etiam
            ac dolor vel risus convallis vulputate sollicitudin sed tortor. Vivamus ornare ipsum nunc, in aliquam ligula
            bibendum quis. Vestibulum sit amet commodo erat. Morbi sollicitudin scelerisque sapien, sed interdum quam
            euismod sed. Cras mattis hendrerit libero at maximus. Ut euismod efficitur lectus, sed lobortis enim. Etiam
            dictum tempus magna, ac aliquam libero maximus vitae.
        </p>
        <p>
            Nullam vitae nunc nec arcu elementum dictum eget nec massa. Morbi nec sagittis purus. Cras mollis mollis
            lorem tempor tincidunt. Nam sit amet sollicitudin purus. Cras commodo mi iaculis, elementum justo luctus,
            ultrices risus. Donec vitae condimentum urna. Nullam semper purus a augue iaculis, vitae mattis augue
            hendrerit. Sed ut consectetur neque. Morbi vulputate a lacus vel tempor. Integer finibus felis eget dui
            mollis consectetur.
        </p>
        <p>
            Sed blandit turpis mauris. Vestibulum convallis, orci vel blandit volutpat, erat lorem placerat lectus, sit
            amet laoreet tortor turpis vel turpis. Aenean iaculis nisl nec risus malesuada, eget euismod mi auctor. Sed
            mattis dolor a lacus consectetur, sit amet ultrices justo aliquam. Vestibulum ante ipsum primis in faucibus
            orci luctus et ultrices posuere cubilia curae; Sed faucibus erat a diam finibus, ut fringilla ex pharetra.
            Suspendisse potenti. Nunc egestas tortor quam, in cursus metus facilisis eget. Donec turpis justo,
            sollicitudin in dui non, aliquet bibendum lorem. Praesent sollicitudin, libero eget porttitor malesuada,
            enim orci mollis quam, ut tempus elit ligula a neque. Integer mauris lectus, congue eu elit sed, fermentum
            tristique lectus. Ut ullamcorper semper ipsum, at fringilla justo tempor ac. Nullam at est malesuada, mattis
            lorem commodo, congue purus. Sed eu turpis ut nulla dignissim tristique quis vel ligula. Integer at ipsum
            erat. Nullam vitae dapibus tortor.
        </p>
        <p>
            Sed ut ornare metus. Donec at scelerisque eros, vel tempus enim. Nullam in elementum diam, sagittis rutrum
            turpis. Proin lobortis, nunc non molestie tincidunt, mi mi accumsan metus, non pellentesque turpis est ut
            sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id risus
            turpis. Pellentesque et sapien vel ex aliquam pulvinar et convallis dolor. Suspendisse finibus ipsum vitae
            urna accumsan imperdiet.
        </p>
        <p>
            Vivamus urna nisi, lacinia vitae congue quis, sodales nec nisi. Phasellus id suscipit nibh, id lacinia
            magna. Pellentesque euismod laoreet nunc, vitae vehicula enim hendrerit eget. Morbi a placerat arcu, nec
            tempor diam. Sed ac elit massa. Quisque dignissim elit quis tellus luctus pharetra. Etiam mollis gravida est
            at porta. Vestibulum lectus purus, malesuada ac ante sed, porta dignissim nulla. Nulla condimentum enim
            cursus lorem varius facilisis. Ut condimentum enim justo, nec dapibus arcu commodo at. Nam gravida malesuada
            fringilla.
        </p>
        <p>
            Donec pellentesque ligula nec rhoncus iaculis. Suspendisse ac auctor lectus. Duis egestas in ligula vel
            dignissim. Ut eu erat eget augue consequat egestas at feugiat magna. Ut imperdiet sem tempus, ullamcorper
            diam in, tempus ante. Ut consequat sapien et placerat pharetra. Phasellus in blandit libero, sit amet
            maximus neque. Donec pretium felis ante, in malesuada nulla commodo porta. Cras nec fermentum nisl. Sed sit
            amet facilisis magna. Cras luctus nunc placerat tellus bibendum, vitae sagittis velit mollis. Etiam mollis
            rutrum placerat. In hac habitasse platea dictumst. Praesent nec commodo justo.
        </p>
        <p>
            Donec ultrices lorem pharetra arcu elementum pellentesque. Nam dictum semper enim nec scelerisque. Fusce
            tincidunt euismod felis, quis tincidunt enim imperdiet non. Nullam vel dui dictum, volutpat ex id, fringilla
            nisi. Mauris aliquet leo id massa eleifend, sed finibus libero feugiat. Etiam vulputate tristique mi eu
            bibendum. Maecenas congue condimentum enim, eu tincidunt purus volutpat ut. Donec a leo ultrices, dictum
            ante cursus, placerat mauris. Donec ornare neque vitae lectus aliquet, non luctus justo egestas. Donec
            euismod, nunc ut gravida imperdiet, urna elit tristique leo, eu commodo sapien mauris et nibh. Quisque eu
            nisl finibus, vulputate sem eget, vestibulum nisl. Suspendisse efficitur massa scelerisque odio dictum
            ornare.
        </p>
        <p>
            Nunc accumsan ut leo a aliquet. Vivamus ullamcorper dui ante, ac tincidunt magna commodo nec. Vestibulum
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi quis vulputate risus,
            ornare porttitor erat. Integer vehicula tortor in diam sollicitudin, non imperdiet ligula semper. Orci
            varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse eros turpis,
            laoreet eu felis ac, maximus varius justo. Sed vel enim luctus sapien viverra vehicula. Aenean at odio in
            diam tempus elementum nec at sapien. Duis in malesuada massa. Proin enim enim, gravida at mollis sit amet,
            mollis vitae enim. Morbi vel felis volutpat, ullamcorper erat at, porta quam.
        </p>
    </div>
{% endblock %}